.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
docs/_build/
include/
lib/
share/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
instance/
.webassets-cache
.scrapy
robobrowser/
node_modules/
jspm_packages/
.bower-log
.bower-helper
.bower-tmp
.bower-cache
.eslintcache
.stylelintcache
node_modules/
.ntvs_analysis.cache
*.db
*.sqlite
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
